<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - COLAB-EY</title>

    {% load static %}
    <link href="{% static 'staticcart/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!--font-->
    <link href="{% static  'base/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap" rel="stylesheet">
   
    <!-- Custom styles for this template-->
    <link href="{% static  'base/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!-- <link href="{% static  'base/css/tienda.css' %}" rel="stylesheet"> -->

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    
        <a class="navbar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon">
              <i class="fas fa-shield-alt"></i>
              Los Escudos
            </div>
            <!-- <div class="navbar-brand-text mx-3">Los Escudos</div> -->
          </a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">                    
                    <a class="nav-link" href=" {% url 'inv:listado_productos' %} ">Tienda</a>                    
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/">Pruebaas</a>
                </li> -->
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hola {{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bases:salir' %}">Cerrar sesión</a>                        
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bases:login' %}">Acceder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'usuarios:user_add' %}">Registro</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container-fluid mt-4">
        {% if messages %}
            <div class="row mt-3 mb-3" >
                <div class="col-12">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'staticcart/js/jquery-slim.min.js' %}"></script>
    <script src="{% static 'staticcart/js/popper.min.js' %}"></script>
    <script src="{% static 'staticcart/js/bootstrap.min.js' %}"></script>
</body>

</html>