{% extends 'layouts/tienda.html' %}

{% load cart_tags %}

{% block title %}Detalle del pedido #{{ pedido.id }}#{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-muted">Detalle del pedido #{{ pedido.id }}#</h1>
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio/u</th>
                            <th>Precio total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lineaPedido in pedido.lineaPedido_set.all %}
                           <tr class="text-center">
                                <td>{{ lineaPedido.product.nombre }}</td>
                                <td>{{ lineaPedido.quantity }}</td>
                                <td>{{ lineaPedido.product.precio|money_format:"Q" }}</td>
                                <td>{{ lineaPedido.product.precio|multiply:lineaPedido.quantity|money_format:"Q" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="text-center">
                                {{ order.total|money_format:"Q" }}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}